.on-page {
    min-width: max-content;
}

.on-page-2 {
    position: relative;
    z-index: 1;
    top: 20px;
    margin-right: 3px;
    background-color: black;
    padding-left: 30px;
    padding-top: 25px;
    font-family: 'D-DIN';
    color: rgb(86, 0, 0);
}

.gallery-container-main {
    position: relative;
    top: -400px;
}

.gallery-container {
    margin-top: -200px;
}