.on-page {
    min-width: max-content;
    margin-top: 40px;
}

.gallery-container-main {
    position: relative;
    top: -400px;
}

.on-page span .red-text {
    background-color: rgba(0, 0, 0 , 0);
}