@font-face {
    font-family: 'D-DIN DIN-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Bold'), url('../fonts/D-DIN-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Monogram';
    src: url('../fonts/Monogram\ Framer\ Demo.ttf') format('opentype');
  }
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url("https://use.typekit.net/hum6xbw.css");

* {
    transition: 0.3s;
    font-family: "ivymode", sans-serif;
}

body {
    background-color: black;
}

header {
    position: relative;
    z-index: 1;
    padding: 100px 10px 0 0;
    font-size:12px;
}

a {
    text-decoration: none;
    color: white;
    max-width: max-content;
}

h1 {
    letter-spacing: 6px;
    font-family: "ivymode", sans-serif;
    font-size: 1.2rem;
    color: rgb(185, 185, 185);
    max-width: max-content;
    font-weight: 400;
}

a:hover {
    color: rgb(113, 0, 0);
}

.nav-items {
    border: solid 2px white;
    max-width: 130px;
}

.grey-text {
    color: rgb(125, 125, 125);
    font-family: 'D-DIN DIN-Bold';
}

.on-page {
    position: relative;
    left: -30px;
    font-size: 20px;
    line-height: 1;
    padding: 20px 0;
}

.on-page span {
    background-color: black;
}

.on-page:hover {
    color: white;
}

.gallery-container-main {
    margin-top: -300px;
}

.gallery-container-main img {
    max-width: 400px;
    height: auto;
}

.gallery-container img {
    max-width: 350px;
    height: auto;
}

.gallery-container-2 {
   margin-top: 100px;
}

.red-text {
    font-family: 'D-DIN DIN-Bold';
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(123, 0, 0);
    background-color: rgba(135, 53, 53, 0);
}

footer a {
    font-family: 'D-DIN DIN-Bold', 'Times New Roman';
    font-size: 12px;
    letter-spacing: 2px;
}

footer img {
    filter: invert(100%);
    max-width: 25px;
    height: auto;
}

footer p {
    letter-spacing: 1px;
    color: rgb(100, 100, 100);
    font-size: 12px;
    font-family: 'D-DIN DIN-Bold', 'Times New Roman';
}

.mobile-front-pic img {
    max-width: 100vw;
    height: auto;
}

.mobile-front-pic {
    position: relative;
    bottom: 50px;
}

.copyright {
    text-align: right;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    header {
        position: relative;
        z-index: 1;
        padding: 30px 20px 0 0;
        font-size:15px;
    }

    body {
        height: 100vh;
    }

    main {
        min-height: 100%;
        width: auto;
    }

    .intro {
        margin-left: 0;
    }

    h1 {
        font-size: 26px;
        position: relative;
        bottom: 3px;
    }

    .gallery-container-main img, .gallery-container img {
       max-width: 100vw;
    }

    .gallery-container-main {
         margin-top: 0px;
    }
    

    .gallery-container-3 {
        margin-top: 0px;
    }

    .gallery-container-2 {
        margin-top: 0px;
     }

    footer {
        height: 50vh;
    }

    .footer-items {
        align-items: center;
        margin-top: 80px;
        
    }

    .footer-items a {
        font-size: 20px;
    }

    .copyright {
        text-align: center;
        font-size: 12px;
        color: rgb(41, 41, 41);
    }

    .container-footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-no-display {
        display: none;
    }

    .mobile-nav-border {
        border-left: 2px solid white;
        padding-left: 25px;
        padding-bottom: 25px;
        min-width: 130px;
    }

    .nav-items {
        border: none
    }

    .on-page span {
        background-color: rgba(0, 0, 0, 0);
    }
}

.monogram {
    font-family: 'Monogram';
    color: rgb(210, 210, 210);
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 15px;
}

.m {
    font-family: 'D-DIN', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.dimmed {
    background-color: rgb(0, 0, 0); /* semi-transparent black */
    transition: background-color 1s ease-in-out; /* smooth transition */
  }
  
  .enlarged {
    width: 50vw; /* viewport width */
    transition: width 1s ease-in-out; /* smooth transition */
    position: fixed; /* to make it float */
    top: 25vh; /* center it vertically */
    left: 0; /* align it to the left */
    z-index: 100; /* keep it on top */
  }
  
  .floating {
    width: 30vw; /* viewport width */
    position: fixed; /* to make it float */
    top: 10vh; /* center it vertically */
    right: 0; /* align it to the right */
    z-index: 100; /* keep it on top */
  }
  