@font-face {
    font-family: 'D-DIN DIN-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Bold'), url('../fonts/D-DIN-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Monogram';
    src: url('../fonts/Monogram\ Framer\ Demo.ttf') format('opentype');
}
* {
    transition: 0.5s;
}

h1 {
    letter-spacing: 6px;
    font-family: "ivymode", sans-serif;
    font-size: 1.2rem;
    color: rgb(185, 185, 185);
    font-weight: 400;
}

h2 {
    font-family: "ivymode", sans-serif;
    font-size: 1rem;
    color: rgb(185, 185, 185);
}

/* Poem */
.monogram {
    font-family: 'Monogram';
    color: rgb(117, 117, 117);
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 15px;
}

/* Dim screen effect */
.dimmed {
    background-color: rgb(0, 0, 0);
    transition: background-color 1s ease-in-out;
}

.floating {
    position: relative;
    right: 120px;
}

.titles {
    opacity: 1;
}

.description-text-paragraph, .gallery-text {
    font-family: "din-2014", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: rgb(201, 201, 201); 
}

.hades-poem {
    font-family: 'Monogram';
    font-weight:900;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: rgb(59 59 59);
    text-align: justify;
}

.azu-ig {
    text-decoration: none;
    color: white;
}

.playlist {
    color: #ffffff;
    font-family: "din-2014", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.description-text-paragraph:hover{
    color: white;
    cursor: default;         /* Use the default cursor */
    user-select: none; 
}

.gallery-text:hover, .azu-ig:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.playlist:hover {
    color: white;
}

.next, .exit {
    font-family: "din-2014", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: rgb(72, 72, 72); 
}

.view-note, .close-btn {
    color: rgb(72, 72, 72); 
}

.next {
    color: rgb(201, 201, 201); 
}

.next:hover, .exit:hover, .view-note:hover, .close-btn:hover {
    transform: scale(1.05);
    color: white;
    cursor: pointer;
}

.animation {
    cursor: pointer;
}

.description {
    position: relative;
    display: none;
    opacity: 0;
    pointer-events: none;
}


/* Poem Animation */
.dim-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1); /* This will ensure it's nearly black */
    z-index: 1000; /* To ensure it appears above all other content */
    display: none; /* Initially hidden */
}

.poem-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This will center the poem in the screen */
    z-index: 1001; /* To ensure it appears above the overlay */
    display: none; /* Initially hidden */
    color: white;
    font-size: 0.8rem;
    font-family: "din-2014", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poem {
    position:fixed;
    bottom:0;
    white-space: nowrap; /* prevents the content from wrapping */
    overflow: hidden;    /* hides the overflowing content */
    left: 0;
    right: 0;
    padding-left: 20px; /* padding on the left */
}

.poem:hover {
    cursor: pointer;
}

@keyframes slowFlash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.instructions {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    font-family: "din-2014", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: rgb(46, 46, 46); 
    animation: slowFlash 7s infinite; /* This will run the animation every 4 seconds infinitely */
}


@media (min-aspect-ratio: 1/1) {
    .container {
        height: 100vh;
        align-items: center;
    }

    .titles {
        position: absolute;   /* Positions the element at a specified position relative to its nearest positioned ancestor */
        top: 50%;             /* Move the top edge to the vertical middle of the parent */
        left: 50%;            /* Move the left edge to the horizontal middle of the parent */
        transform: translate(-50%, -50%);
    }

    .content-row {
        margin-top: auto;
        margin-bottom: auto;
    }

    .painting {
        width: 75%;
        height: auto;
    }
   
    .painting:hover, .playlist:hover {
        transform: scale(1.05);
    }
    .mobile-titles {
        display: none;
    }
    .col-12-5 {
        flex: 0 0 41.66667%; /* equivalent to col-5 */
        max-width: 41.66667%; /* equivalent to col-5 */
    }
    .col-12-7 {
        flex: 0 0 58.33333%; /* equivalent to col-md-7 */
        max-width: 58.33333%; /* equivalent to col-md-7 */
    }
    .col-12-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .title-subtitle, .description-text {
        padding-left:3rem;
        padding-right:3rem;
    }
    .navigation {
        padding: 0 3rem;
    }
}

@media (max-aspect-ratio: 1/1) {

    .titles {
        position: relative;
        top: 0;
        right: 0;
        padding-top: 50px;
        padding-right: 10px;
    }

    .desktop-titles {
        display: none;
    }

    .content-row {
        position: relative;
        padding-top: 30px;
    }
    .painting {
        width: 94%;
        height: auto;
    }
    .section2 {
        margin-top: 50px;
    }

    .poem-centered {
        width: 80%;
    }
    .col-12-5, .col-12-7, .col-12-6 {
        flex: 0 0 100%; /* equivalent to col-12 */
        max-width: 100%; /* equivalent to col-12 */
    }

    .title-subtitle, .description-text {
        padding-left:1rem;
        padding-right:1rem;
    }
    .navigation {
        padding: 3rem 1rem;
    }
    .poem {
        padding-right: 2.05rem;
        padding-left: 9px;
    }

    .poem .monogram {
        color: rgb(76, 76, 76);
        font-size: 0.7rem;
    }

    .section2 .monogram {
        color: rgb(76, 76, 76);
    }

}

/* For iPads */
@media screen and (min-width: 768px) and (max-width: 1024px), 
       screen and (min-width: 1536px) and (max-width: 2048px) {
    .painting {
        width: 80%;
    }
}